.dialogs {
	color: rgb(21, 255, 0);
	display: grid;
	grid-template-columns: 20% 80%;
	line-height: 1.2;
}

.dialogs img {
	width: 70px;
}

.dialogs a {
	color: rgb(32, 199, 32);
}

.dialogs a.active {
	color: rgb(51, 255, 0);
	text-shadow: rgb(243, 243, 243) 0px 0 10px;
}

.dialog {
	margin: 0 0 15px -25px;
	text-align: center;
}

.dialogItems {
	font-size: 20px;
	padding: 10px;
}

.messagesItems {
	font-size: 18px;
	padding: 30px 50px;
}
